<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Devices</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>UltraschallHub:94AF43F5</string>
			<key>Name</key>
			<string>USH Soundboard</string>
			<key>Channels</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>UUID</key>
			<string>UltraschallHub:82A47E47</string>
			<key>Name</key>
			<string>UHS Skype Microphone</string>
			<key>Channels</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>UUID</key>
			<string>UltraschallHub:0111A798</string>
			<key>Name</key>
			<string>USH Skype Speakers</string>
			<key>Channels</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>UUID</key>
			<string>UltraschallHub:D4A43AE3</string>
			<key>Name</key>
			<string>USH Stream</string>
			<key>Channels</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>UUID</key>
			<string>UltraschallHub:11F4EF70</string>
			<key>Name</key>
			<string>USH Aux</string>
			<key>Channels</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
