<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Devices</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>617A2DCB-ABFB-442F-B9F2-BEDE1AB10181</string>
			<key>Name</key>
			<string>Ultraschall Device</string>
			<key>Channels</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>UUID</key>
			<string>2CA99A7F-1776-4D12-8098-39A5DF01E734</string>
			<key>Name</key>
			<string>Ultraschall Device 4</string>
			<key>Channels</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>UUID</key>
			<string>043425E1-068E-42DD-98CF-412B9D877215</string>
			<key>Name</key>
			<string>Ultraschall Device test</string>
			<key>Channels</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>UUID</key>
			<string>D773083C-605A-44F8-87E0-00C88E700DE5</string>
			<key>Name</key>
			<string>Ultraschall Device bla</string>
			<key>Channels</key>
			<integer>16</integer>
		</dict>
	</array>
</dict>
</plist>
